<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div ng-app="car-finder" ng-controller="indexController as ctrl" ng-cloak>
        <div>
            {{ctrl.clock | date:'medium'}}
            {{ctrl.stopwatch | date:'mm:ss:sss'}}
            {{ctrl.name}}
            <button ng-click="ctrl.pauseit()">Pause</button>
            <button ng-click="ctrl.pauseitwatch()">Pause watch</button>
        </div>
        <input type="radio" name="start" ng-model="ctrl.yearchecked" value="true" ng-change="ctrl.DataIni(ctrl.yearchecked, false)" />Year
        <input type="radio" name="start" ng-model="ctrl.makechecked" value="true" ng-change="ctrl.DataIni(false, ctrl.makechecked)" />Model<br />
        <select ng-show="ctrl.yearchecked" ng-options="year for year in ctrl.options.years | orderBy: 'year'" ng-model="ctrl.selected.year" ng-change="ctrl.getMakes()"></select>
        <select ng-show="ctrl.yearchecked" ng-options="make for make in ctrl.options.makes | orderBy: 'make'" ng-model="ctrl.selected.make" ng-change="ctrl.getModels()"></select>
        <select ng-show="ctrl.yearchecked" ng-options="model for model in ctrl.options.models | orderBy: 'model'" ng-model="ctrl.selected.model" ng-change="ctrl.getTrims()"></select>
        <select ng-show="ctrl.yearchecked" ng-options="trim for trim in ctrl.options.trims | orderBy: 'trim'" ng-model="ctrl.selected.trim" ng-change="ctrl.getCars()"></select>


        <select ng-show="ctrl.makechecked" ng-options="make for make in ctrl.options.makes | orderBy: 'make'" ng-model="ctrl.selected.make" ng-change="ctrl.getYears1()"></select>
        <select ng-show="ctrl.makechecked" ng-options="year for year in ctrl.options.years | orderBy: 'year'" ng-model="ctrl.selected.year" ng-change="ctrl.getModels()"></select>
        <select ng-show="ctrl.makechecked" ng-options="model for model in ctrl.options.models | orderBy: 'model'" ng-model="ctrl.selected.model" ng-change="ctrl.getTrims()"></select>
        <select ng-show="ctrl.makechecked" ng-options="trim for trim in ctrl.options.trims | orderBy: 'trim'" ng-model="ctrl.selected.trim" ng-change="ctrl.getCars()"></select><br />

        {{ctrl.selected.year}}
        {{ctrl.selected.make}}
        {{ctrl.selected.model}}
        {{ctrl.selected.trim}}
        <div ng-repeat="car in ctrl.cars">
            {{car}}
        </div>
    </div>

    <script src="Scripts/jquery-1.10.2.min.js"></script>
    <script src="Scripts/angular.min.js"></script>

    <script src="App/App.js"></script>
    <script src="App/httprequest.js"></script>
    <script src="App/indexController.js"></script>
</body>
</html>
